* {
  box-sizing: border-box;

  font-family: sans-serif;
  font-weight: 600;
}

body {
  margin: 0;
  padding: 50px 0;

  height: 100vh;
}

.wrapper {
  font-size: 0;
  text-align: center;

  height: 100%;
}

.card {
  display: inline-block;
  overflow: hidden;

  position: relative;

  text-align: left;
  font-size: 16px;
  
  padding: 3em 3.5em;
  margin: 30px;

  color: white;

  border-radius: 8px;
 
  width: 450px;
  height: 280px;
}

.card-title,
.card-content {
  margin: 0.5em 0 0 0;
}

.card-title {
  font-weight: 500;
  font-size: 21px;
  text-transform: capitalize;
}

.card-content {
  font-size: 40px;

  position: relative;
}

.card-lower {
  margin: 4em 0 0 0;
}

/* background */

.card:nth-child(3n+1) {
  background: rgb(255, 186, 152);
  background: linear-gradient(
    90deg,
    rgba(255, 186, 152, 1) 0%,
    rgba(254, 157, 152, 1) 50%,
    rgba(254, 142, 170, 1) 100%
  );
}

.card:nth-child(3n+2) {
  background: rgb(136, 198, 245);
  background: linear-gradient(
    90deg,
    rgba(136, 198, 245, 1) 0%,
    rgba(63, 164, 234, 1) 50%,
    rgba(50, 153, 227, 1) 100%
  );
}

.card:nth-child(3n+3) {
  background: rgb(120, 216, 208);
  background: linear-gradient(
    90deg,
    rgba(120, 216, 208, 1) 0%,
    rgba(53, 216, 191, 1) 50%,
    rgba(47, 212, 195, 1) 100%
  );
}

/* circles */

.card::after,
.card::before {
  display: inline-block;
  content: "";

  position: absolute;
 
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);

  width: 260px;
  height: 260px;
}

.card::after {
  top: -30px;
  left: 310px;
}

.card::before {
  top: 150px;
  left: 210px;
}

/* icons */

.card .card-content::after{
  display: inline-block;

  position: absolute;
  left: 310px;
  top: -45px;
}

.card:nth-child(3n+1) .card-content::after {
  content: url(./icons/chart-line.svg);
}

.card:nth-child(3n+2) .card-content::after {
  content: url(./icons/bookmark-outline.svg);
}

.card:nth-child(3n+3) .card-content::after {
  content: url(./icons/diamond.svg);
}